<h1>Home</h1>

<p><%=homeStartingContent%></p>

<%for (let i = 0; i < posts.length; i++) {%>
<h1><%=posts[i].title%>
    <sup>
        <a href="/posts/<%=i%>">[<%=i%>]</a>
    </sup>
</h1>

<p><%=posts[i].body.slice(0, 100);%> <a href="/posts/<%=i%>">... Read More</a></p>

<% }  %>