<body>
    <div id="heading" class="box">
        <h1> <%=listTitle%> </h1>
    </div>

    <div id="" class="box">


        <%newListItems.forEach(element => {%>
        <form action="/delete" method="post">
            <div class="item">
                <input name="checkBox" value="<%=element._id%>" type="checkbox" onchange="this.form.submit()">
                <p><%= element.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
        </form>
        <%});%>

        <form class="item" action="/" method="POST">
            <input name="newItem" type="text" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
    </div>
</body>